.navbar {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 16px;
    justify-content: center;
    align-items: center;
    background-color: #222;
    width: 100vw;
}

.navbar ul {
    display: grid;
    color: greenyellow;
    gap: 16px;
    justify-content: end;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.navbar img {
    width: 42px;
    margin-left: 16px;
}